# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
HelloLucene.iml
src/main/main.iml
.idea/dictionaries/
